#Arquivos e diretórios que não serão monitorados pelo Git

.

.settings/*

vendor/composer/*

vendor/zendframework/*

vendor/ZF2/*

vendor/doctrine/*

vendor/symfony/*

.buildpath

.project

.zfproject.xml

._*
.~lock.*
.buildpath
.DS_Store
.idea
composer.lock
